body {
  font-family: system-ui, sans-serif;
  margin: 1em auto;
  max-width: 60em;
  padding: 1em;
}

.title {
  cursor: pointer;
}
.title::before {
  content: "⬇️ ";
}
.collapsed > .title::before {
  content: "➡️ ";
}

.details {
  height: 0;
}

.details.expanded {
  height: auto;
}

.details > div {
  max-width: 40em;
  padding: 0.5em;
  margin-bottom: 2em;
  border: 2px solid #999;
}

[hidden] {
  display: none !important;
}